.theme-light .footer-logo{background-size:120px 28px; background-image:url(../images/logo-dark.png); background-position:center; height:30px; background-repeat:no-repeat;}
.theme-dark .footer-logo{background-size:120px 28px; background-image:url(../images/logo-light.png); background-position:center; height:30px; background-repeat:no-repeat;}
.theme-light .header-logo{background-size:65px 15px; width:65px; background-image:url(../images/logo-dark.png); background-repeat:no-repeat;}
.theme-dark .header-logo{background-size:65px 15px; width:65px; background-image:url(../images/logo-light.png); background-repeat:no-repeat;}


