/*Modals*/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: #000000; /*Fallback Color*/
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	border-radius: 7px;
	background-color: #fefefe;
	margin: 12% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 60%;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}